<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{title}}</h3>
  </div>
  {{yield (hash
            content=(component "eb-panel-content")
            footer=(component footer)
          )}}
</div>
