<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      {{#link-to "application" class="navbar-brand"}}
        Emberbook
      {{/link-to}}
    </div>

    <ul class="nav navbar-nav">
      <li>
        {{link-to 'Feed' 'feed'}}
      </li>
      <li>
        {{link-to 'foo' 'foo'}}
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
